<p>
  component-error-handler works!
</p>

<div>
  <h2>This Error will be handled by method decorator</h2>

  <button (click)="methodWithError()">Throw Error</button>
</div>

<div>
  <h2>
    This error will be handled by component decorator with removig element from
    dom
  </h2>
  <button (click)="methodWithAnotherError()">Throw Antoher Error</button>
</div>
