<!-- <div class="container mb-5">
  <div class="row mb-5">
    <div class="col-6">
      <label class="btn btn-primary">
        Select file
        <input
          [hidden]="true"
          type="file"
          (change)="onChangeFile($event)"
          accept="image/jpeg,image/png,image/gif"
        />
      </label>
      <div>
        <div class="card mt-5">
          <div class="card-body">
            <ngx-cropper
              [fileChangedEvent]="fileChangedEvent"
              [aspectRatio]="1"
              (imageCropped)="imageCropped($event)"
            >
            </ngx-cropper>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <img class="img-fluid" [src]="imageSrc" alt="" />
    </div>
  </div>
</div> -->

<h1>App Component</h1>

<app-component-error-handler></app-component-error-handler>
